<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cit.labaya.disasteraidconnect">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <application
        android:name=".DisasterAidApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:roundIcon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DisasterAidConnect"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.auth.login.LoginActivity"
            android:exported="false" />
        <activity android:name=".ui.auth.register.RegisterActivity"
            android:exported="false" />
        <activity android:name=".ui.dashboard.DashboardActivity"
            android:exported="false" />
        <activity android:name=".ui.disaster.DisasterMapActivity"
            android:exported="false" />
        <activity android:name=".ui.aidrequest.AidRequestActivity"
            android:exported="false" />
        <activity android:name=".ui.donation.DonationActivity"
            android:exported="false" />
        <activity android:name=".ui.admin.AdminDashboardActivity"
            android:exported="false" />
        <activity android:name=".ui.admin.disasters.AdminDisastersActivity"
            android:exported="false" />
        <activity android:name=".ui.admin.requests.AdminRequestsActivity"
            android:exported="false" />
        <activity android:name=".ui.admin.donations.AdminDonationsActivity"
            android:exported="false" />
        <activity android:name=".ui.admin.users.AdminUsersActivity"
            android:exported="false" />

    </application>
</manifest>
